body {
    background-color: rgba(173, 243, 163, 0.678); 
}

header {
    text-align: center;
}

header div {
    background-color: green; 
}

header div h1 {
    font-size: 350%; 
    padding: 25px;
}

header nav {
    background-color: red; 
}

header nav ul {
    display: flex; 
    flex-direction: row; 
    gap: 200px; 
    justify-content: center;
}

nav ul a {
    padding: 20px;
}

ul a li {
    font-size: 180%; 
    color: black;
}

main {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 60px; 
    gap: 300px;
}

main div #paragrafo_pizza {
    font-size: 150%;
}